@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

body {
  hr {
    width: 100%;
  }
}
.container {
  margin: 0 auto;
  border: 1px solid black;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .inner {
    width: 100%;
    max-width: 1280px;
    // background-color: blue;
  }
}
