@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/styles/_variables.scss";
// @import "@/styles/_reset.scss";
// @import './swiper-icons.css';

html {
  font-size: 12px;
}
input {
  height: 3rem;
  
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
}
.container {
  max-width: 130rem;
  padding: 0 2rem;
  width: 100%;
}
main.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0;
}
