:root {
  --color-white: #f6f6f6;
  --color-black: #0c0c0c;
  --color-blue: #091d9e;
  --color-light-blue: #bcc5ff;
  --color-purple: #750dc5;
  --color-gray: #c1c1c1;
  --color-gray-light: #dedede;
  --color-yellow: #ebba1a;
}
